<div id="cardtable">
<div class="card five spade">
  <div class="corner top">
    <span class="number">5</span>
    <span>&#x2660</span> 
  </div>
  <span class="suit top_left">&#x2660</span>
  <span class="suit top_right">&#x2660</span>
  <span class="suit middle_center">&#x2660</span>
  <span class="suit bottom_left">&#x2660</span>
  <span class="suit bottom_right">&#x2660</span>
  <div class="corner bottom">
    <span class="number">5</span>
    <span>&#x2660</span> 
  </div>

</div>

</div>
